.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  gap: 20px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  min-width: 0;
}

.cardButton {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;

  text-align: inherit;
  text-decoration: none;

  border: 0;
  background: transparent;

  cursor: pointer;
}
